Makefile
build/Makefile*
.make.cache
bld.inf
*.loc
*.mmp
*.pkg
*.rss
ui/*.h
moc/*.cpp
moc/*.h
moc/*.o
rcc/*.cpp
build/object_script*
build/*.cpp
build/*.h
build/*.o
build/*/*.cpp
build/*/*.exe
build/*/*.h
build/*/*.o
build/*/*.qml
